{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<script>
    function comments() {
        con = document.getElementById('xx').style.display;
        if(con == "none"){
            document.getElementById('xx').style.display="block";
            document.getElementById('im').src="{% static '/img/pl.png'%}";
        }else if(con == "block"){
            document.getElementById('xx').style.display="none";
            document.getElementById('im').src="{% static 'img/gbpl.png'%}";
        }
    }
    function Move_color() {
        document.getElementById("but").style.backgroundColor="#FF82AB";
    }
    function Out_color() {
        document.getElementById("but").style.backgroundColor="#FFF5EE";
    }
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });
    function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

        if(arr=document.cookie.match(reg))

            return unescape(arr[2]);
        else
            return null;
    }
    function tijiao1(){
        var  user =$('#id_name').val()
        $.ajax({
            url:'/ajax/',
            type:'POST',
            data:{username:user},
            success:function(callback){
                 $('#status').text(callback);
                if (callback === "该名字存在！"){
                    document.getElementById("but").disabled="disabled";
                }else{
                    document.getElementById("but").disabled=undefined;
                }
            }
        })
    }
</script>
<article class="post post-{{post.pk}}" xmlns:display="http://www.w3.org/1999/xhtml"
         xmlns:display="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
                    <header class="entry-header">
                        <h1 class="entry-title">{{post.title}}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{post.category.name}}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                    datetime="{{post.create_time}}">{{post.create_time}}</time></a></span>
                            <span class="post-author"><a href="#">{{post.author}}</a></span>
                            <span class="comments-link"><a href="#">{{post.comment_set.count}} 评论</a></span>
                            <span class="views-count"><a href="#">{{post.views}} 阅读</a></span>
                            {%for tag in post.tags.all %}
                            <span class="widget-tag"><a href="#">{{tag.name}}</a></span>
                            {%empty%}
                            <span class="widget-tag"><a href="#">无标签</a></span>
                            {%endfor%}
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{post.body|safe}}
                    </div>
                </article>
                <section class="comment-area" id="commsent-area">
                    <hr style="height: 2px;background-color:#FFB6C1">
                    <img onclick="comments()" src=
                            "{% static 'img/gbpl.png' %}" id="im">
                    <div style="display: none;margin-top: -30px;margin-left: 20px" id="xx">
                   <form action="{%url 'comments:post_comment' post.pk%}" method="post" class="comment-form" id="formid">
                   {% csrf_token %}
                        <div class="row">
                            <div class="col-md-42"  onchange="tijiao1()">
                                <label for="{{ form.name.id_for_label }}">名字：</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                            </div>
                            <div style="margin-left: 280px;margin-top: 30px;font-size:30px;color:#8B008B;
                            width: 350px;
"><span
                                    id="status"></span></div>
                            <div class="col-md-12">
                                 <!--for 属性命名一个目标表单 id，这样就是显式形式-->
                                <label for="{{ form.text.id_for_label }}">评论：</label>
                            {{ form.text }}
                            {{ form.text.errors }}
                            <input type="submit" id="but" value="提交" onmousemove="Move_color()" onmouseout="Out_color()"
                                    class="comment-btn" style="height: 50px;width:150px;font-size: 25px;background-color:#FFF5EE">
                            </div>
                        </div>
                   </form>
                    </div>
                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>{{post.comment_set.count}}</span> 条评论</h3>
                        <ul class="comment-list list-unstyled">
                            {%for comment in comment_lit%}
                            <li class="comment-item">
                                <span class="nickname">{{comment.name}}</span>
                                <time class="submit-date">{{comment.create_time}}</time>
                                <div class="text">
                                   {{comment.text}}
                                </div>
                            </li>
                            {%empty%}
                            暂无评论
                            {%endfor%}
                        </ul>
                    </div>
                </section>
            {% endblock main %}
            {% block toc %}
    {% endblock toc %}
